---
import Layout from "../../layouts/default.astro";
import { wpquery } from "../../services/wordpress";
import { LOAD_ALL_POSTS } from "../../services/queries";

export async function getStaticPaths() {
  const data = await wpquery({ query: LOAD_ALL_POSTS });
  return data.posts.nodes.map((post: any) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}
export const prerender = true;
const { post } = Astro.props;
---

<Layout title={post.title}>
  <img
    src={post.featuredImage.node.mediaItemUrl}
    srcset={post.featuredImage.node.srcSet}
    alt={post.featuredImage.node.alt}
    transition:name=`img-${post.slug}`
  />
  <article class='prose lg:prose-xl bg-white mx-auto w-full'>
    <h1 class=''>{post.title}</h1>
    <Fragment class='text-white' set:html={post.content} />
  </article>
  <p>
    <a href='/'>Regresar</a>
  </p>
</Layout>
