---
interface Props {
  node: {
    id: string;
    postId: number;
    title: string;
    date: string;
    dateGmt: string;
    modified: string;
    modifiedGmt: string;
    uri: string;
    link: string;
    guid: string;
    excerpt: string;
    content: string;
    categories: {
      nodes: {
        name: string;
        uri: string;
      }[];
    };
    seo: {
      metaDesc: string;
      title: string;
      metaRobotsNoindex: string;
      canonical: string;
      metaRobotsNofollow: string;
      schema: {
        raw: string;
      };
      fullHead: string;
    };
    featuredImage: {
      node: {
        srcSet: string;
        sourceUrl: string;
        altText: string;
      };
    };
    previous?: {
      id: number;
      title: string;
      uri: string;
    };
    next?: {
      id: number;
      title: string;
      uri: string;
    };
  };
}
export interface PostProps extends Props {}

import Layout from "../../layouts/default.astro";
const { node: post } = Astro.props;
const { seo, featuredImage } = post;
---

<Layout
  title={seo.title}
  description={seo.metaDesc}
  schema={seo.schema.raw}
  canonical={seo.canonical}
  image={post.featuredImage.node.sourceUrl}
>
  <div class='aspect-video'>
    {}
    <img
      class='object-contain h-full w-full'
      src={post.featuredImage.node.sourceUrl}
      srcset={post.featuredImage.node.srcSet}
      alt={post.featuredImage.node.altText}
      transition:name={`img-${post.uri}`}
    />
  </div>
  <article class='prose lg:prose-xl bg-white mx-auto w-full'>
    <h1 class='' transition:name={`title-${post.uri}`}>{post.title}</h1>
    <Fragment class='text-white' set:html={post.content} />
  </article>
  <p>
    <a href='/'>Regresar</a>
  </p>
</Layout>
