---
import Layout from "../layouts/default.astro";
import PostsGrid from "@components/PostsGrid.astro";
import { homePagePostsQuery, getAllUris, getNodeByURI } from "../lib/worpdress";
import type { HomepagePostsQuery, GetAllUris } from "../interfaces/";
import type { GetNodeByURI } from "../interfaces/getNodeByURI";

const { nodeByUri: node }: GetNodeByURI = await getNodeByURI("/");
const { seo, featuredImage } = node;

const { posts }: HomepagePostsQuery = await homePagePostsQuery();
---

<div
  data-elementor-type='wp-page'
  data-elementor-id='25719'
  class='elementor elementor-25719'
  data-elementor-post-type='page'
>
  <div
    class='elementor-element elementor-element-7b12a6d e-flex e-con-boxed e-con e-parent'
    data-id='7b12a6d'
    data-element_type='container'
    data-settings='{'
    container_type":"flex","content_width":"boxed"}"
    data-core-v316-plus='true'
  >
    <div class='e-con-inner'>
      <div
        class='elementor-element elementor-element-56b2142 elementor-widget elementor-widget-image'
        data-id='56b2142'
        data-element_type='widget'
        data-widget_type='image.default'
      >
        <div class='elementor-widget-container'>
          <img
            src='https://dev.pfsrealty.com/blog/wp-content/plugins/elementor/assets/images/placeholder.png'
            title=''
            alt=''
            loading='lazy'
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class='elementor-element elementor-element-2424a75 e-flex e-con-boxed e-con e-parent'
    data-id='2424a75'
    data-element_type='container'
    data-settings='{'
    container_type":"flex","content_width":"boxed"}"
    data-core-v316-plus='true'
  >
    <div class='e-con-inner'>
      <div
        class='elementor-element elementor-element-9b975c6 elementor-widget elementor-widget-heading'
        data-id='9b975c6'
        data-element_type='widget'
        data-widget_type='heading.default'
      >
        <div class='elementor-widget-container'>
          <h2 class='elementor-heading-title elementor-size-default'>
            Añade aquí tu texto de cabecera
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<Layout
  title={seo.title}
  description={seo.metaDesc}
  schema={seo.schema.raw}
  canonical={seo.canonical}
  image={featuredImage}
>
  <PostsGrid {posts} />
</Layout>

<style>
  .elementor-25719 .elementor-element.elementor-element-7b12a6d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
  }
  .elementor-25719 .elementor-element.elementor-element-2424a75 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
  }
</style>
